/* React-Google-Maps Info-window Style */

.gm-style .gm-style-iw-c {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: auto !important;
  min-height: 100px !important;
  width: 350px !important;
  min-width: 350px !important;
  box-sizing: border-box;
  top: 5px;
  left: 0;
  background-color: white;
  border-radius: 0px;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.gm-style-iw-d {
  overflow: hidden !important;
}
