/* Toastify Style */
.Toastify__toast {
  border-radius: 0 !important;
  font-family: "Source Sans Pro", sans-serif !important;
  color: black !important;
}
.Toastify__progress-bar {
  background: rgba(0, 0, 0, 0.3) !important;
}

/* Swiper.js Button Style */

.swiper-button-next,
.swiper-button-prev {
  color: #bbb6ac !important;
}

/* React-Zoom-Pinch-Pan Style */
.transform-component-module_wrapper__7HFJe {
  margin: 0 auto !important;
}
