/* React-Masonry-CSS Style */
.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  max-width: 1200px;
  width: 80vw;
  margin: auto;
}
.my-masonry-grid_column {
  /* padding-left: 30px; gutter size */
  background-clip: padding-box;
  padding: 0 30px;
}

/* Style your items */
.my-masonry-grid_column > div {
  background: grey;
  margin-bottom: 30px;
}
