/* React-Masonry-CSS Style */
.my-masonry-grid {
  display: flex;
  /* margin-left: -30px;  */
  max-width: 1200px;
  width: 80vw;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .my-masonry-grid {
    margin: 0 auto 100px;
  }
}

@media screen and (max-width: 1400px) {
  .my-masonry-grid_column {
    padding: 0 50px;
  }
}

/* Style your items */
.my-masonry-grid_column > div {
  background: grey;
  /* margin-bottom: 30px; */
}
