.Toastify__toast {
  border-radius: 0 !important;
  font-family: "Source Sans Pro", sans-serif !important;
  color: black !important;
}
.Toastify__progress-bar {
  background: rgba(0, 0, 0, 0.3) !important;
}

/* Swiper.js Button Style */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

/* React-Player Style */
.player-wrapper {
  width: auto;
  height: auto;
}
.react-player {
  padding-top: 56.25%;
  position: relative;
}

.react-player > div {
  position: absolute;
  top: 24px;
}

/* React-Google-Maps Info-window Style */

.gm-style .gm-style-iw-c {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: auto !important;
  min-height: 100px !important;
  width: 350px !important;
  box-sizing: border-box;
  top: 5px;
  left: 0;
  background-color: white;
  border-radius: 0px;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.gm-style-iw-d {
  overflow: hidden !important;
}

/* React-Zoom-Pinch-Pan Style */
.transform-component-module_wrapper__7HFJe {
  margin: 0 auto !important;
}

/* React-Masonry-CSS Style */

.grid {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 30vw;
  list-style: none;
  width: 80vw;
  margin: auto;
}

.grid div:nth-child(9) {
  grid-column: 1 / -1;
  grid-row: span 2;
}

.grid figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.grid img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.grid img:hover {
  transform: scale(1.1);
}

.grid img {
  object-fit: cover;
}

@media (min-width: 850px) {
  .grid {
    grid-gap: 24px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 12vw;
  }

  .grid div:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .grid div:nth-child(2) {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }

  .grid div:nth-child(3) {
    grid-column: 4;
    grid-row: 1;
  }

  .grid div:nth-child(4) {
    grid-column: 5;
    grid-row: 1;
  }

  .grid div:nth-child(5) {
    grid-column: 4;
    grid-row: 2;
  }

  .grid div:nth-child(6) {
    grid-column: 5;
    grid-row: 2 / span 2;
  }

  .grid div:nth-child(7) {
    grid-column: 2;
    grid-row: 3;
  }

  .grid div:nth-child(8) {
    grid-column: 1;
    grid-row: 3;
  }

  .grid div:nth-child(9) {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
  }

  .grid div:nth-child(10) {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .grid div:nth-child(11) {
    grid-column: 5;
    grid-row: 4;
  }
}
